{{ include parts_html_header.html }}

<style>
#kiyaku h2 { font-weight: bold; padding-left:1em; }
#kiyaku p { padding-left: 3em; }
</style>

<div class="showblock">
  <h1>「プログラム貯蔵庫」のご利用規約</h1>
  <div id="kiyaku">

    <h2>●はじめに</h2>
    <p>「プログラム貯蔵庫」は、なでしこで作った作品やHTML/JavaScriptで作成したプログラムを公表する場です。</p>
    <p>ぜひ、規約を守って、貯蔵庫を盛り上げていきましょう！</p>

    <h2>●プログラムの利用について</h2>
    <p>当サービスの利用は自己責任とします。
        開発者や管理者は使用またはその他の扱いによって生じる一切の請求、損害、その他の義務について何らの責任も負わないものとします。</p>
    
    <h2>●プログラムの投稿について</h2>
    <p>
        当サービスに書き込んだプログラムや素材データの著作権は投稿者にあります。
        各プログラムにはライセンスが設定されていますので、ライセンスの範囲を超えた利用をしないようにしてください。
        ライセンスが未設定の場合、貯蔵庫のみの利用となります。
        ライセンスを確認せずに、プログラムを無断転載したり、改良しないように気をつけてください。
    </p>
 
    <h2>●プログラムや素材データの保存期限について</h2>
    <p>
        当サービスに書き込んだ「プログラム」や「素材データ」は3年以上参照できるように努力します。
    </p>
    <p>
        ただし、サーバーのトラブルや管理者の都合により消失する可能性があることをご了承ください。
        また、その場合、管理者・開発者は責任を負わないこととします。
    </p>
    <p>
        なお、プログラムや素材の更新が3年以上行われず、アクセスもない場合には削除対象となる可能性があることをご了承ください。
        もちろんサーバー容量の許す限りは削除を行うことはありません。
    </p>
    
    <h2>●支援について</h2>
    <p>
        本サービスは、なでしこ開発サポーターの寄付によって運営されています。
        さまざまな方法で、運営をサポートできます。
    </p>
    <p><a href="https://nadesi.com/top/go.php?34">→なでしこを直接支援する</a></p>
</div>

{{ include parts_html_footer.html }}
