{{ include parts_html_header.html }}

<div class="list info">{{ $top_message | raw }}</div>

{{ if $find_user_id gt 0 }}
  <!-- ユーザー紹介 -->
  <div class="list">
    <h1 class="list_user_profile">
      <a href="index.php?user_id={{$find_user_id}}&action=list">{{$find_user_info.name}}</a> さんの投稿:
    </h1>
    <div id="find_user_div" style="padding-left:2em; padding-right:1em;">
      <a href="https://twitter.com/{{$find_user_info.screen_name}}">
        <img src="{{$find_user_info.profile_url}}" width="48"
             style="border:1px solid silver; float:left; margin-right:8px;" />
      </a>
      <p id="find_user_id_desc" class="memo setumei" style="margin:1em;">
        {{$find_user_info.description}}
        <a href="https://twitter.com/{{$find_user_info.screen_name}}">[Twitter]</a><br/>
      </p><!-- #find_user_id_desc -->
    </div><!-- #find_user_div -->
    <div style="clear:both"></div>
  </div>
{{ endif }}

{{ if $ranking && (!isset($app_id) || $app_id eq 0) }}
  <!-- 人気のリスト -->
  <div class="list" id="ranking_list">
  <h1>人気の投稿</h1>
  <p>
    最近の人気の投稿をランダムに表示します。
    (<a href="index.php?action=list&mode=ranking&term=all">全期間</a>)
  </p>
  <table width="100%">
      <tr>
          <th>タイトル</th>
          <th>説明</th>
      </tr>
      {{ for $ranking as $r }}
      <tr>
          <td>
              <a href="id.php?{{$r.app_id}}">{{$r.title | check_mudai }}</a>
              {{if $r.fav gt 0}}
              <br><span class='memo'>{{$r.fav | star}}</span>
              {{endif}}
          </td>
          <td>
              {{if $r.user_id gt 0}}
              <span class="dev">
                  <a href="index.php?user_id={{$r.user_id}}&action=list">{{$r.author | check_nanasi }} 作</a>
              </span>
              {{else}}
              <span class="dev">{{$r.author | check_nanasi }} 作</span>
              {{endif}}
              <br>
              <span class="memo">{{$r.memo | trim50 }}</span>
              <span class="date">({{$r.mtime | date2}})</span><br>
          </td>
      </tr>
      {{ endfor }}
  </table>
  <p class="memo" style="text-align:right; padding:0.5em;"><a href="index.php?action=list&mode=ranking">→もっと見る...</a></p>
  </div><!-- end of #ranking_list -->
{{ endif /* end of ranking */ }}

<div class="list" id="recent_list">
{{ if $mode == 'ranking' }}
  <h1>人気順の表示</h1>
{{ else }}
  <h1>最新の投稿</h1>
{{ endif }}

{{ if count($list) == 0 }}
  <div class="showblock">😔 見つかりませんでした。</div>
{{ else }}
<table width="100%">
    <tr>
        <th>タイトル</th>
        <th>説明</th>
    </tr>
    {{ for $list as $r }}
    <tr>
        <td>
            <a href="id.php?{{$r.app_id}}">{{$r.title | check_mudai }}</a>
            {{if $r.fav gt 0}}
            <br><span class='memo'>{{$r.fav | star}}</span>
            {{endif}}
        </td>
        <td>
            {{if $r.user_id gt 0}}
            <span class="dev">
                <a href="index.php?user_id={{$r.user_id}}&action=list">😀{{$r.author | check_nanasi }} 作</a>
            </span>
            {{else}}
            <span class="dev">{{$r.author | check_nanasi }} 作</span>
            {{endif}}
            <br>
            <span class="postmemo">{{$r.memo | trim100 }}</span>
            <span class="date">({{$r.mtime | date2}})</span><br>
        </td>
    </tr>
    {{ endfor }}
</table>

  {{ if $next_url }}
  <div class="next_button_div">
      <a href='{{$next_url}}' class="pure-button">⏪ 次へ</a>
  </div>
  {{ endif }}
{{ endif }}

<div class="addon_block">
  <ul>
    <li><a href="index.php?action=upload&mode=list">🔧素材ファイルの一覧を表示</a></li>
    {{if n3s_is_login()}}
    <li><a href="index.php?action=mypage&page=my">🐕自分の投稿(マイページ)を表示</a></li>
    {{endif}}
    <li>
      <a href="index.php?action=list&onlybad=1&noindex=1">😭問題投稿のみ</a> /
      <a href="index.php?action=list&nofilter=1&noindex=1">問題込みで表示</a>
    </li>
  </ul>
</div><!-- /addon_block -->

</div><!-- end of #recent_list -->
{{ include parts_html_footer.html }}

