{{ include parts_html_header.html }}

{{ if $list }}
<div class="list">
<h1>プログラムの一覧</h1>
<table>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>説明</th>
    </tr>
    {{ for $list as $r }}
    <tr>
        <td>
            <a href="p.php?{{$r.app_id}}" class="pure-button">{{ $r.app_id }}</a>
        </td>
        <td>
            <a href="p.php?{{$r.app_id}}">{{$r.title | check_mudai }}</a><br>
                <span class="dev">by {{$r.author | check_nanasi }}</span>
        </td>
        <td>
            <span>{{$r.memo | trim100 }}</span><br>
            <span class="date">★{{$r.fav}} ({{$r.mtime | datetime}})</span>
        </td>
    </tr>
    {{ endfor }}

</table>

{{ if $next_url }}
<div class="next_button_div">
    <a href='{{$next_url}}' class="pure-button">⏪ 次へ</a>
</div>
{{ endif }}

{{ else }}
<div>見つかりませんでした。</div>
{{ endif }}

<div class="ctrl_block">
  <a href="index.php?action=list&nofilter=1">フィルタせずに投稿を表示</a>
</div>



{{ include parts_html_footer.html }}

