{{ include parts_html_header.html }}

<div class="showblock">
    <h1>ユーザー新規登録 - はじめてのご利用の場合</h1>
    <div class="info_box">
        <h3>{{ $error | raw }}</h3>
        <div>
            <form class="pure-form pure-form-stacked" action="index.php?action=login&page=register" method="POST">
                <label for="email">メールアドレス(email)</label>
                <input type="email" name="email" id="email" placeholder="メールアドレス" value="{{$email}}" required>
                <label for="name">お名前(12文字以内)</label>
                <input type="text" name="name" id="name" placeholder="お名前" value="{{$name}}" required>
                <button type="submit" class="pure-button pure-button-primary">登録</button>
            </form>
        </div>
        <div>
            <p>
                ご登録いただいたメールアドレスに確認メールを送信します。<br>
                そのメールに記載されたURLにアクセスして登録を完了してください。<br>
                なお、メールが届かない場合は迷惑メールフォルダをご確認ください。
            </p>
        </div>
    </div>
</div>


{{ include parts_html_footer.html }}