{{ include parts_html_header.html }}

<div class="showblock">
    <h1>
        {{$user_id}}: {{$name}} さんのマイページ
        {{if n3s_is_admin()}}(管理者){{endif}}
    </h1>
</div>

<div class="showblock">
    <h3>投稿したアプリの一覧</h3>
    {{if $apps }}
        <div><ul>
        {{for $apps as $r}}
            <li>
                <!-- button -->
                <a href="id.php?{{$r.app_id}}" class="pure-button">{{$r.app_id}}</a>
                {{if $r.is_private}}【非公開】{{else}}【公開中】{{endif}}
                <!-- title -->
                <a href="id.php?{{$r.app_id}}">{{$r.title | check_mudai}}</a>
                <!-- memo -->
                {{if $r.memo}}→{{$r.memo}}{{endif}}
                <!-- date -->
                <span class="memo">{{$r.mtime | date2}}</span>
                <!-- fav -->
                {{$r.fav | star}}
            </li>
        {{endfor}}
        </ul></div>
    {{else}}
    <div>ありません。</div>
    {{endif}}
</div>

<div class="showblock">
    <h3>素材のアップロード</h3>
    <div>
        <ul>
            <!-- files -->
            {{ for $images as $i }}
            <li>
                <a href='index.php?action=upload&mode=show&image_id={{$i.image_id}}' class="pure-button">{{$i.image_id}}</a>
                {{$i.title}} - 
                <span class="memo">{{$r.mtime | date2}}</span>
            </li>
            {{ endfor }}
            <!-- button -->
            <li><a href="index.php?action=upload" class="pure-button">ファイルのアップロード</a></li>
        </ul>
    </div>
</div>
    
<div class="showblock" style="border-top: 1px dotted silver;">
    <div style="padding:1em;">
        <div>
            <a class="pure-button" href="{{$logout_url}}">ログアウト</a>
            <!-- img src="{{$user.profile_url}}" width="48" -->
        </div>
    </div>
</div>

<script>
function checkDelete(image_id) {
    const n = confirm('ID:' + image_id + 'のファイルを削除しますが良いですか？')
    if (!n) {
        alert('削除しません😃')
        return
    }
    // delete image
    const tm = Math.floor((new Date()).getTime() / 1000)
    location.href = "index.php?action=upload&mode=delete&image_id=" + image_id + '&tm=' + tm
}
</script>



{{ include parts_html_footer.html }}
