{{ include parts_html_header.html }}

<div class="linkblock">
  [<a href="{{ $link_mypage }}">私のアプリ</a>]
  [<a href="{{ $link_material }}">私の素材</a>]
  [<a href="{{ $link_all_fav }}">お気に入り</a>]
  [<a href="{{ $link_userinfo }}">設定変更</a>]
  {{ if n3s_is_admin() }}
  [<a href="{{e: echo n3s_getURL('', 'admin') }}">管理者ページ</a>]
  {{ endif }}
</div>

<div class="showblock">
    <h1>
        {{$user_id}}: {{$name}} さんのマイページ
        {{if n3s_is_admin()}}(管理者){{endif}}
    </h1>
</div>

{{ if $is_mypage_top }}
<div class="showblock">
  <h3><a name="comments">最近コメントが付いた投稿</a></h3>
  <div class='favblock'>
    {{ if !$recent_comments }}
      最近ついたコメントはありません。
    {{ else }}
      <ul>
      {{ for $recent_comments as $i }}
      <li>
        <a href="{{$i.link}}">{{$i.app_title | check_mudai}}</a>
        に「{{$i.name | check_nanasi}}」さんから: {{$i.body | trim50}}
        <span class="memo">{{$i.ctime | datetime}}</span>
      </li>
      {{ endfor }}
      </ul>
    {{ endif }}
  </div>
</div>

<div class="showblock">
  <h3><a name="fav">最近のお気に入り</a></h3>
  <div class='favblock'>
    {{ if !$bookmarks }}
      まだお気に入りをつけていません。
    {{ else }}
      <ul>
      {{ for $bookmarks as $i }}
      <li>
        <a href="id.php?{{$i.app_id}}">{{$i.title}} by {{$i.author}}</a>
      </li>
      {{ endfor }}
      <li><a href="{{ $link_all_fav }}">→全部見る</a> | <a href="index.php?action=mypage">→少なく</a></li>
      </ul>
    {{ endif }}
  </div>
</div>
{{ endif }}

<div class="showblock">
  <h3><a name="apps">投稿したアプリの一覧</a></h3>
  {{if $apps }}
    <div style="padding:0.5em">
      <table style="border:none;">
        <tr style="background-color:#f0f0f0; border-bottom: 1px solid silver;">
          <td style="text-align:center;">編集</td>
          <td style="text-align:center;">公開</td>
          <td style="text-align:center;">🌱作品名</td>
        </tr>
        {{for $apps as $r}}
        <tr>
          <td>
            <!-- button -->
            <a href="index.php?action=edit&page={{$r.app_id}}" class="pure-button" style="width:5em;">{{$r.app_id}}</a>
          </td>
          <td style="text-align:center;">
            {{if $r.is_private == 0}}
            <span class="public">公開中</span>
            {{else}}
              {{if $r.is_private == 1}}
              <span class="private">🔒非公開</span>
              {{else}}
              <span class="private">🔒限定</span>
              {{endif}}
            {{endif}}
          </td>
          <td>
            <!-- title -->
            <a href="id.php?{{$r.app_id}}">{{$r.title | check_mudai}}</a>
            <!-- date -->
            <span class="memo">{{$r.mtime | date2}}</span>
            <!-- fav -->
            {{$r.fav | star}}
          </td>
        </tr>
        {{endfor}}
      </table>
      {{if $link_next_page != ''}}
        <div style="padding:6px;">
          <a href="{{$link_next_page}}" class="pure-button">← 次へ</a>
        </div>
      {{endif}}
    </div>
  {{else}}
    <div>ありません。</div>
  {{endif}}
</div>

<div class="mypage_box">
  <h3>管理機能</h3>
  <div>
    <ul>
      <li><a href="{{ $link_userinfo }}">ユーザー情報の変更</a></li>
      <li><a href="{{ $link_material }}">私の素材/素材の管理</a></li>
      <li><a href="{{ $link_mypage }}">アプリの管理</a></li>
      <li><a href="{{ $link_all_fav }}">お気に入りの管理</a></li>
      <li><a href="{{ $link_del_account }}">貯蔵庫から退会</a></li>
      <li><a href="{{ $link_logout }}">ログアウト</a></li>
    </ul>
  </div>
</div><!-- /.showblock -->

<div class="linkblock">
  [<a href="{{ $link_mypage }}">私のアプリ</a>]
  [<a href="{{ $link_material }}">私の素材</a>]
  [<a href="{{ $link_all_fav }}">お気に入り</a>]
  [<a href="{{ $link_userinfo }}">設定変更</a>]
</div>


{{ include parts_html_footer.html }}
