<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ $page_title }}</title>
    <meta name="description" content="nako3storage">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="skin/def/pure-min.css">
    <link rel="stylesheet" href="skin/def/n3s.css?m={{ $n3s_css_mtime }}">
    {{ $extra_header_html | raw }}
</head>
<body>
<div id="n3s_header">
    <h1 class="title"><a href="./index.php">{{ $page_title }}</a></h1>
    <div class="header-right">
        <form action="index.php">
            <a href="index.php?page=all&amp;action=list" class="pure-button">📒一覧</a>
            <a href="index.php?page=new&amp;action=show" class="pure-button">🌟新規</a>
            {{if n3s_is_login()}}
            <a href="index.php?page=my&amp;action=mypage" class="pure-button">🐕マイページ</a>
            {{else}}
            <a href="index.php?page=my&amp;action=login" class="pure-button">🚪ログイン</a>
            {{endif}}
            <span class="search_box">
                <input type="hidden" name="action" value="list">
                <input title="search word" name="search_word" placeholder="検索 作者か作品名" 
                    value="{{ $search_word }}" size="12">
            </span>
        </form>
        </div>
</div>
