
<div id="n3s_footer">
    <div class="header-right">
    <span><a href="index.php?page=all&amp;action=list" class="pure-button">一覧</a></span>
    <span><a href="index.php?page=new&amp;action=show" class="pure-button">新規</a></span>
    <span><a href="index.php?page=new&amp;action=upload" class="pure-button">素材投稿</a></span>
    </div>
    <div class="applink"><a href="https://github.com/kujirahand/nako3storage/">
        {{$page_title}} v.{{$nako3storage_version}}</a></div>
</div>

</body>
</html>
