<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{if isset($noindex) && ($noindex>0)}}<meta name="robots" content="noindex">{{endif}}
    
    <title>{{ $page_title }}</title>
    <meta name="description" content="{{ $page_title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="skin/def/pure-min.css">
    <link rel="stylesheet" href="index.php?action=file&page=basic.css&m={{ $n3s_css_mtime }}">
    {{ $analytics | raw }}
    {{ $extra_header_html | raw }}

</head>
<body>
<div id="n3s_header">
    <div class="memo setumei">
        <a href="https://nadesi.com/doc3/">🌸 「なでしこ3」</a> &gt;
        <a href="https://n3s.nadesi.com/">🍯 「貯蔵庫」</a> 
    </div>
    <h1 class="title"><a href="./index.php">{{ $page_title }}</a></h1>
    {{ include parts_html_menu.html }}
</div>

`
