{{ include parts_html_header.html }}

<div class="saveform">
  
  <h1>
    {{if $app_id gt 0}}
      (id: {{$app_id}}) プログラムの編集
    {{else}}
      新規プログラムの保存
    {{endif}}
  </h1>

  {{ if !n3s_is_login() }}
    <div class="info_box" style="margin:1em;">
      <p><b>現在ログインしていません。</b></p>
      <p>ログインすると自分の投稿をまとめて管理できます。
        公開せず自分だけのために保存もできます。</p>
      <p id="login_link" style="display:none">
        <a href="{{e:echo n3s_getURL('my','login')}}" class="pure-button pure-button-primary">
          ログインする</a>
      </p>
    </div>
  {{ endif }}

  {{ if $load_src == 'yes' }}
  <p class="info">※タイトルなど補足情報を入力して画面最下部にある「保存」ボタンを押してください。</p>
  {{ endif }}

  <form method="POST"
    onsubmit="return checkSubmit()"
    action="index.php?action=save&page={{$app_id}}&mode=edit">
    <p>
      <label>プログラム本体(30文字以上):<br />
      <textarea id="body" name="body" readonly>{{ $body }}</textarea>
      </label>
    </p>
    <p>
      <a name="canvas_config"><label>Canvasの設定:</a><br />
        &nbsp;&nbsp;幅:<input id="canvas_w" name="canvas_w" value="{{ $canvas_w }}" style="width:4em;"> x
        高:<input id="canvas_h" name="canvas_h" value="{{ $canvas_h }}" style="width:4em;">
        <a href="#canvas_config" onclick='setCanvas0x0()' class="pure-button">←使わない</a>
      </label>
    </p>
    <p>
      <label>タイトル(5文字以上):<br />
      <input id="title" name="title" value="{{$title}}" placeholder="タイトル" autocomplete="off" />
      </label>
    </p>
    <p>
      <label>プログラムの説明(10文字以上):<br />
      <input id="memo" name="memo" value="{{$memo}}" placeholder="説明" autocomplete="off" />
      </label>
    </p>
    {{if n3s_is_login() }}
      <!-- 自動で設定されるので -->
      <input id="author" name="author" type="hidden" value='{{$author}}' />
      <p>
        <label>制作者: {{ $author }}</label>
      </p>
    {{else}}
    <p>
      <label>制作者名(必須):<br />
      <input id="author" name="author" value="{{$author}}" placeholder="制作者の名前" />
      </label>
    </p>
    {{endif}}
    <p>
      <label>URL(任意):<br />
      <input id="url" name="url" value="{{$url}}" placeholder="関連URL" />
      </label>
    </p>
    <p>
      <label>タグ(省略可):
        <span class="info">タグ(DNCL,DNCL2,ゲーム,ツールなど)をカンマで区切って指定。</span><br />
        <input id="tag" name="tag" type="text" value="{{ $tag }}" /><br />
        &nbsp;&nbsp;<span class="info">(↑ヒント) この欄に「w_noname」と書くと作品一覧に非掲載</span>
      </label>
    </p>
  <p>
    <label>ライセンスの指定:</label><br />
      <blockquote style="background-color: #f0f0f0;">
      {{ for $copyright_list as $key => $val }}
      {{e: $chk = ($key == $copyright) ? 'checked' : ''; }}
      <label for='{{$key}}'>
        <input id='{{$key}}' name="copyright" type="radio" value="{{$key}}" {{$chk}} style='width:1em;'>{{$key}}
        - <span style="font-size:0.8em;">{{e: echo $copyright_desc[$key] }}</span>
      </label>&nbsp;<br>
      {{ endfor }}
      <p style="font-size:0.8em;color:#333;padding:6px;">
        ※上記の「未指定」「自分用」以外を選択すると、定期的にプログラムが「<a target="_blank" href="https://github.com/kujirahand/nadesiko3hub">なでしこハブ</a>」にバックアップが行われます。
        すると、プログラムの部分検索ができるようになり、オープンソースや「なでしこ」の発展に貢献できます。
        おすすめは「MIT」で「なでしこ」と同じライセンスです。
      </p>
      </blockquote>
    </p>
        
    <div id="save_options_button">
      <a class="pure-button" onclick='show_save_options(true)'>保存オプションを表示 ≫</a>
    </div>
    <div id="save_options" style="display:none; border-left:4px solid silver; padding-left:1em;">
      <p>
        <a class="pure-button" onclick='show_save_options(false)'>≪ 保存オプションを隠す</a>
      </p>

      <div id="private_options" style="border:1px dotted silver; padding: 8px; margin: 8px;">
        <p>
          <label>公開設定:<br />
            {{e $is_private0 = ($is_private == 0) ? 'selected="selected"' : ''; }}
            {{e $is_private1 = ($is_private == 1) ? 'selected="selected"' : ''; }}
            {{e $is_private2 = ($is_private == 2) ? 'selected="selected"' : ''; }}
            <select id="is_private" name="is_private">
              <option value="0" {{$is_private0}}>作品を公開</option>
              {{if ($is_private == 1) || ($user_id > 0) }}
              <option value="1" {{$is_private1}}>非公開</option>
              {{endif}}
              <option value="2" {{$is_private2}}>限定的に公開</option>
            </select>
          </label>
        </p>
        {{ if !n3s_is_login() }}
        <p>
          <label>編集キー:
            <span class="info">プログラムの限定公開(あるいは編集)に使うキーです。<strong>忘れないように</strong>してください。</span>
            <br />
            <input id="editkey" name="editkey" type="password" value="" />
          </label>
        </p>
        {{ else }}
        <p>
          <label>限定公開キー:
            <span class="info">作品を限定公開する場合、以下の公開キーを入力してください。</span>
            <br />
            <input id="editkey" name="editkey" type="text" value="{{$editkey}}" />
          </label>
        </p>
        {{ endif }}
      </div><!-- end of #private_options -->
      <p>
        <label>利用なでしこバージョン:
          <span class="info">通常は変更の必要はありません。</span>
          <br />
          <input id="version" name="version" type="text" value="{{$version}}" />
        </label>
      </p>
      <p>
        <label>データの形式:
          <span class="info">普通はwnakoを指定。必要ならcnako/js/json/csv/text/sh/batを指定。</span><br />
          <input id="nakotype" name="nakotype" type="text" value="{{ $nakotype }}" />
        </label>
      </p>
      <p>
        {{if $user_id gt 0}}
        <label>ライブラリ名<span style="color:red;">(普通の投稿は空にしてください。)</span>:
          <span class="info">
            ライブラリとして他の人に使ってもらいたい場合のみ入力してください。
            もしライブラリでなら名前(英数字・アンダーバー・ハイフン/大文字小文字を区別)を設定すると外部プログラムから取り込む時に分かりやすくなります。
            なお、ライブラリでないと管理者が判断する場合に限って空に変更する場合もあります。
          </span><br />
          <input id="app_name" name="app_name" type="text" value="{{ $app_name }}" />
        </label>
        {{else}}
        <input id="app_name" name="app_name" type="hidden" value="{{ $app_name }}" />
        ※ログインするとライブラリとして投稿できます。
        {{endif}}
      </p>
    </div><!-- #save_options -->
    <p>
      <label>利用規約:<br />
        <input id="agree" name="agree" type="checkbox" value="yes" {{ $agree }}/>同意する
        <span class="info">必ず<a target="new" href="index.php?action=kiyaku">利用規約[→]</a>に同意してください。</span>
      </label>
    </p>
    <p>
      <!-- ■■■ 保存ボタン ■■■ -->
      <input name="mode" type="hidden" value="edit" />
      <input name="ref_id" type="hidden" value="{{$ref_id}}" />
      <input name="edit_token" type="hidden" value="{{$edit_token}}" />
      <input class="pure-button pure-button-primary" type="submit" value="保存" />
    </p>
  </form>

  {{if $user_id gt 0 || n3s_is_admin() }}
  <div class="ctrl_block">
    <h2>プログラムの削除</h2>
    <form method="POST" action="index.php?action=save&page={{$app_id}}&mode=delete">
      <div>チェックをつけて削除ボタンを押してください。</div>
      <div>
        <label>
          <input name="yesno" type="checkbox" value='yes' />
          完全に削除する
        </label>
      </div>
      <input name="edit_token" type="hidden" value="{{$edit_token}}" />
      <input name="ref_id" type="hidden" value="{{$ref_id}}" />
      <div>
        <input class="pure-button" type="submit" value="プログラムを削除">
      </div>
    </form>
  </div>
  {{endif}}

  {{if n3s_is_admin() }}
  <div class="ctrl_block">
    <h2>管理者</h2>
    <form method="POST" action="index.php?action=save&page={{$app_id}}&mode=reset_bad">
      <div style="color:red;">【管理用】通報を解除したい場合：</div>
      <div>
        <label>設定する値(2以上でリスト非表示):<br />
          <input id="bad_value" name="bad_value" type="text" value="0" />
        </label>
      </div>
      <div>
        <input name="edit_token" type="hidden" value="{{$edit_token}}" />
        <input class="pure-button" type="submit" value="通報値変更">
      </div>
    </form>
  </div>
  {{endif}}
</div>

<script>
// load_src yes か no のみ
const saveCols = ['body', 'canvas_w', 'canvas_h', 'version']
switch ('{{$load_src}}') {
  //
  case 'no': saveToLocalStorage(); break;
  case 'yes': loadFromLocalStorage(); break;
}



function loadFromLocalStorage() {
  console.log('load from storage')
  saveCols.forEach(key => {
    const e = document.getElementById(key)
    if (!e) {
      console.log('!! form not found: ' + key)
      constinue
    }
    e.value = localStorage[key]
  })
}

function saveToLocalStorage() {
  setTimeout(() => {
    console.log('[nako3storage] info: save to storage')
    saveCols.forEach(key => {
      localStorage[key] = document.getElementById(key).value
    })
    // リンクを表示
    const loginLink = document.getElementById('login_link')
    if (loginLink) {
      loginLink.style.display = "block"
    }
  }, 100)
}

// check submit
function checkSubmit() {
  const body = document.getElementById('body').value
  const title = document.getElementById('title').value
  const memo = document.getElementById('memo').value
  const author = document.getElementById('author').value
  const fmt = document.getElementById('nakotype').value
  const agree = document.getElementById('agree').checked
  // タグのチェック
  const tag = document.getElementById('tag')
  tag.value = tag.value.replace(/[\s\#]+/g, '')
  if (tag.value.indexOf('w_noname') >= 0) {
    tag.value = 'w_noname' // このタグは特別で排他的
  }
  if (tag.value.length > 64) {
    alert('タグが長すぎます。64文字以内にしてください。')
    return false
  }
  // 本文などのチェック
  if (body.length < 30) {
    alert('お手数おかけします。\n' +
      '現在プログラムに最低文字数の制限をかけさせていただいています。\n' +
      '30文字以上のプログラムを保存できます。')
    return false
  }
  if (title.length < 5) {
    alert('お手数おかけします。\n' +
      'プログラムのタイトルに、分かりやすい5文字以上の名前を付けてください。\n' +
      'どうぞ、ご協力よろしくお願いします。')
    return false
  }
  if (memo.length < 10) {
    alert('お手数おかけします。\n' +
      'プログラムの説明を10文字以上で記入してください。\n' +
      'どうぞ、ご協力よろしくお願いします。')
    return false
  }
  if (author == '') {
    alert('お手数おかけします。\n' +
      '作者名を記入してください。\n' +
      'どうぞ、ご協力よろしくお願いします。')
    return false
  }
  if (!agree) {
    alert('お手数おかけします。\n' +
      '利用規約に同意のチェックをいれてください。同意しないと書き込めません。')
    return false
  }
  if (fmt == 'wnako' || fmt == 'cnako' || fmt == 'text' || fmt == 'json' ||
      fmt == 'css' || fmt == 'html' || fmt == 'csv' || fmt == 'js' || fmt == "sh" || fmt == "bat") { // ok
  } else {
      alert('データ形式にwnako3やcnako3,json,csvなどを指定してください。')
      return false
  }

  // editkey をブラウザに保存
  const editkey = document.getElementById('editkey').value
  localStorage['n3s_editkey'] = xx_enc(editkey, 30)  
  //
  return true
}

function xx_dec(val, key) {
  val = encodeURIComponent(val);
  var result = "";
  for (var i = 0; i < val.length; i++) {
    result += String.fromCharCode(val.charCodeAt(i) + key);
  }
  return result;
}
function xx_enc(val, key) {
  var result = "";
  for (var i = 0; i < val.length; i++) {
    result += String.fromCharCode(val.charCodeAt(i) - key);
  }
  return decodeURIComponent(result) ;
}

function show_save_options(b) {
  const opt = document.getElementById('save_options')
  opt.style.display = b ? 'block' : 'none'
  const optButton = document.getElementById('save_options_button')
  optButton.style.display = b ? 'none' : 'block'
}

function setCanvas0x0() {
  document.getElementById('canvas_w').value = '0'
  document.getElementById('canvas_h').value = '0'
}

// タイトルなどを自動で埋める処理
setTimeout(()=>{
  // 本文を取得
  const body = document.getElementById('body').value.substring(0, 2048).replace(/^\s+/, '')

  // タグの確認
  const tag = document.getElementById('tag')
  const hasDNCL = (body.indexOf('!DNCL') >= 0) || (body.indexOf('！DNCL') >= 0) || (body.indexOf('💡DNCL') >= 0)
  if (hasDNCL && tag.value.indexOf('DNCL') < 0) {
    const a = []
    for (const t of tag.value.split(',')) {
      const t2 = t.replace(/^\s+/, '').replace(/\s+$/, '')
      if (t2 != '') { a.push(t2) }
    }
    a.push('DNCL')
    tag.value = a.join(',')
  }

  // タイトルを自動的に埋める
  const title = document.getElementById('title')
  if (title.value == '') {
    const new_title = body
      .replace(/(\r\n|\r|\n)/g, '')
      .replace(/[\#\$\.\!\"\%\'\\\-\=\s\|「」【】『』、]+/g, '')
      .replace(/(インデントモード|DNCLモード)/g, '')
    title.value = new_title.substring(0, 16)
  }
}, 1000);


</script>

{{ include parts_html_footer.html }}
