{{ include parts_html_header.html }}

<div class="saveform">
  
  <h1>
    {{if $app_id gt 0}}
      (id: {{$app_id}}) プログラムの編集
    {{else}}
      新規プログラムの保存
    {{endif}}
  </h1>

  {{ if !n3s_is_login() }}
    <div class="info_box" style="margin:1em;">
      <p><b>現在ログインしていません。</b></p>
      <p>Twitterアカウントでログインすると自分の投稿をまとめて管理できます。
        公開せず自分だけのために保存もできます。</p>
      <p>
        <a href="{{e:echo n3s_getURL('my','login')}}" class="pure-button pure-button-primary">
          ログインする</a>
      </p>
    </div>
  {{ endif }}

  {{ if $rewrite == 'yes' }}
  <p class="info">※タイトルなど補足情報を入力して画面最下部にある「保存」ボタンを押してください。</p>
  {{ endif }}

  <form method="POST" action="index.php?action=save&page={{$app_id}}&mode=edit">
    <p>
      <label>プログラム本体:<br />
      <textarea id="body" name="body">{{ $body }}</textarea>
      </label>
    </p>
    <p>
      <label>Canvasのサイズ(使わない時は0にしてください):<br />
        幅:<input id="canvas_w" name="canvas_w" value="{{ $canvas_w }}" style="width:4em;"> x
        高:<input id="canvas_h" name="canvas_h" value="{{ $canvas_h }}" style="width:4em;">
      </label>
    </p>
    <p>
      <label>タイトル(必須):<br />
      <input name="title" value="{{$title}}" placeholder="タイトル" autocomplete="off" />
      </label>
    </p>
    <p>
      <label>プログラムの説明(任意):<br />
      <input name="memo" value="{{$memo}}" placeholder="説明" autocomplete="off" />
      </label>
    </p>
    {{if n3s_is_login() }}
      <!-- 自動で設定されるので -->
      <input id="author" name="author" type="hidden" value='{{$author}}' />
      <p>
        <label>制作者: {{ $author }}</label>
      </p>
    {{else}}
    <p>
      <label>制作者名(任意):<br />
      <input id="author" name="author" value="{{$author}}" placeholder="制作者の名前" />
      </label>
    </p>
    {{endif}}
    <p>
      <label>URL(任意):<br />
      <input id="url" name="url" value="{{$url}}" placeholder="関連URL" />
      </label>
    </p>
    <p>
      <label>非公開設定:<br />
      {{e $is_private_chk = $is_private ? 'checked="checked"' : ''; }}
      <input name="is_private" type="checkbox" value="1" {{$is_private_chk}} />
      非公開にする
      </label>
    </p>
    <p>
      <label>一時アクセスキー(非公開の作品を他人に見せたい時に以下のキーを設定します。空ならアクセス不可。):<br />
      <input name="access_key" type="text" value="{{$access_key}}" />
      </label>
    </p>
    <p>
      <label>利用中しているなでしこバージョン:<br />
        <input name="version" type="text" value="{{$version}}" />
      </label>
    </p>
    <p>
      <input name="mode" type="hidden" value="edit" />
      <input name="ref_id" type="hidden" value="{{$ref_id}}" />
      <input class="pure-button pure-button-primary" type="submit" value="保存" />
    </p>
  </form>

  {{if $user_id gt 0 || n3s_is_admin() }}
  <div class="ctrl_block">
    <h2>プログラムの削除</h2>
    <form method="POST" action="index.php?action=save&page={{$app_id}}&mode=delete">
      <div>チェックをつけて削除ボタンを押してください。</div>
      <div>
        <label>
          <input name="yesno" type="checkbox" value='yes' />
          完全に削除する
        </label>
      </div>
      <input name="ref_id" type="hidden" value="{{$ref_id}}" />
      <div>
        <input class="pure-button" type="submit" value="プログラムを削除">
      </div>
    </form>
  </div>
  {{endif}}

  {{if n3s_is_admin() }}
  <div class="ctrl_block">
    <h2>管理者</h2>
    <form method="POST" action="index.php?action=save&page={{$app_id}}&mode=reset_bad">
      <div style="color:red;">【管理用】通報を解除したい場合：</div>
      <div>
        <label>設定する値(2以上でリスト非表示):<br />
          <input id="bad_value" name="bad_value" type="text" value="0" />
        </label>
      </div>
      <div>
        <input class="pure-button" type="submit" value="通報値変更">
      </div>
    </form>
  </div>
  {{endif}}
</div>

<script>
// rewrite
switch ('{{$rewrite}}') {
  //
  case 'no': break;
  case 'yes': loadFromLocalStorage(); break;
  //
  case 'save': saveToLocalStorage(); break;
  case 'load': loadFromLocalStorage(); break;
}
function loadFromLocalStorage() {
  console.log('load from storage')
  // body
  const body = document.getElementById('body')
  body.value = localStorage['n3s_save_body']
  // canvas
  const clist = ['canvas_w', 'canvas_h']
  for (let key of clist) {
    const v = localStorage['n3s_' + key]
    const e = document.getElementById(key)
    e.value = v
  }
}
function saveToLocalStorage() {
  console.log('save to storage')
  const body = document.getElementById('body')
  localStorage['n3s_save_body'] = body.value
  localStorage['n3s_canvas_w'] = 300
  localStorage['n3s_canvas_h'] = 300
}
</script>

{{ include parts_html_footer.html }}
