{{ include parts_html_header.html }}

<!-- search box -->
<div class="list">
  <h1>検索</h1>
  <form method="get" action="index.php" class="pure-form">
    <fieldset>
      <div class="search_box">
        <input title="search word" name="search_word"
            class="pure-input"
            placeholder="キーワードを入力" 
            value="{{ $search_word }}" size="28">
        <input type="submit" value="検索" class="pure-button">
        <input type="hidden" name="action" value="search">
      </div><!-- .search_box -->
      <div class="search_box memo">
        <label class="pure-radio">
          <input type="radio" name="target" value="normal"
            {{if $target eq 'normal'}}checked="true"{{endif}}>
          作品名やタグから探す
        </label>
        <label class="pure-radio">
          <input type="radio" name="target" value="author"
            {{if $target eq 'author'}}checked="true"{{endif}}>
          作者から探す
        </label>
        <label class="pure-radio">
          <input type="radio" name="target" value="tag"
            {{if $target eq 'tag'}}checked="true"{{endif}}>
          タグから探す
        </label>
        <label class="pure-radio">
          <input type="radio" name="target" value="program"
            {{if $target eq 'program'}}checked="true"{{endif}}>
          プログラムから探す(GitHub - なでしこハブを全検索)
        </label>
      </div>
    </fieldset>
  </form>
</div>

<!-- search result -->
{{ if $search_word != '' }}
<div class="list search_list">
  
  {{ if $error != '' }}
  <div style="color:red; border:1px solid #ffa0a0; padding:0.7em;">{{$error}}</div>
  {{ endif }}

{{ if $error == '' /* no_error */ }}
  <h1>検索結果</h1>
  {{ if !$list }}
  <div>
    『{{$search_word}}』は見つかりませんでした😭<br>
    すみません。
  </div>
  {{ else }}
  <ul>
    {{ for $list as $i }}
    <li>
      <div class="search_title">
        <a href="index.php?action=show&page={{$i.app_id}}">
          🌲{{$i.title | check_mudai}}</a>
        {{if $i.fav > 0}}⭐{{$i.fav}}{{endif}}
      </div>
      <div class="search_info">
        <div>
          {{if $i.user_id > 0}}
          <span class="setumei"><a href="index.php?action=user&user_id={{$i.user_id}}">{{$i.author}} 作</a></span>
          {{else}}
          &nbsp; {{$i.author}} 作
          {{endif}}
          <span class="memo">
            {{$i.mtime | date}}
            - [<a href="index.php?action=show&page={{$i.app_id}}">{{$i.app_id}}</a>]
          </span>
        </div>
        <div>
          {{if isset($i['body'])}}
          <div class='search_code'><code>
              {{$i.body | multiline}}
          </code></div>
          {{else}}
          <span class="memo">{{$i.memo | trim100}}</span>
          {{endif}}
          {{if $i.tag != ''}}
          <span class="memo">(タグ: {{$i.tag_link | raw}} )</span>
          {{endif}}
        </div>
      </div>
    </li>
    {{ endfor }}
  </ul>
  {{ endif }}
{{ endif /* end of no_error */ }}
</div>
{{ endif }}


{{ include parts_html_footer.html }}

