{{ include parts_html_header.html }}

<div class="showblock">
  <div>
    <h1>{{ $title | check_mudai }}</h1>
    <p class="memo">{{ $memo }}</p>
  </div>
  <div>
    <label>プログラム:<br />
    <textarea id="nako3code" name="body">{{ $body }}</textarea>
    </label><br />
    <button id="runButton" class="pure-button pure-button-primary">▶　実 行</button>
    <button id="clearButton" class="pure-button">クリア</button>
    <div id="runbox">
      <div class="nako3row nako3info" id="nako3_info"></div>
      <canvas id='nako3_canvas' width='300' height='300'></canvas>
      <div id='nako3_div' class='nako3_div'></div>
    </div>
  </div>
  <ul class="showinfo">
    <li>制作者: <span>{{ $author }}
      {{ if $url }}
        (<a href="{{$url}}">web</a>)
      {{ endif }}
    </span></li>
    <li>利用バージョン: {{ $version }}</li>
  </ul>
</div>
<div class="ctrl_block">
  <p><button onclick="saveClick()" class="pure-button">編集</button></p>
</div>

<!-- script for nadesiko3 -->
{{ $import_nako | raw }}

<!-- script for nako3storage-->
<script type="text/javascript">
  // nako3storage info
  const baseurl = "{{ $baseurl | safe }}";
  // nako3 program info
  const app_id = {{ $app_id }};
  const nako_version = "{{ $version }}" + ".0.0.0"
</script>
<script defer type="text/javascript" src="{{e:echo n3s_getURL('nako3storage_show.js', 'file', ['m'=>$mtime_nako3storage_show]);}}"></script>

{{ include parts_html_footer.html }}
