{{ include parts_html_header.html }}

<style>
#iframe_contents {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    width: 100%;
    height: 400px;
}
</style>

<div class="showblock">
  <div>
    <h1>
      {{ $title | check_mudai }}
      {{if $is_private == 0}}📖{{endif}}
      {{if $is_private == 1}}🔒{{endif}}
      {{if $is_private == 2}}🔐{{endif}}
    </h1>
    <p class="memo">{{ $memo }}</p>
  </div>
  <div id="progrram_area">
    <label>プログラム: <span id="sizeSwitch">(→大)</span><br />
    <textarea id="nako3code" readonly>{{ $body }}</textarea>
    </label><br />
    {{ if $nakotype eq 'wnako' }}
      <button id="runButton" style="display:none"></button>
      <button id="clearButton" style="display:none"></button>
      <!-- widget -->
      {{ if $is_private == 1 }}
      <a href="index.php?action=edit&page={{$app_id}}" class="pure-button">📝編集ページで実行</a>
      {{ else }}
      <iframe id="iframe_contents" src="{{ $sandbox_url }}" sandbox="{{$sandbox_params}}"></iframe>
      {{ endif }}
      <!-- /widget -->
    {{ else }}
      <button id="runButton" style="display:none"></button>
      <button id="clearButton" style="display:none"></button>
    {{ endif }}
  </div>
  
  <!-- #runbox このブロックは必ず必要 -->
  <div id="runbox"></div>
  <!-- /#runbox -->

  <ul class="devblock">
    <li>
      <span>
        {{if $user_id gt 0}}
          <a href="index.php?action=list&user_id={{$user_id}}">
            <img src="{{$profile_url}}" width="48" height="48">
            {{ $author | check_nanasi }} 作
          </a>
        {{else}}
          {{ $author | check_nanasi }} 作
        {{endif}}
        {{ if $url }}
          (<a href="{{$url}}">関連URL</a>)
        {{ endif }}
      </span>
    </li>
    <li>
      <span class="lbl">ライセンス:</span> {{ $copyright }}
      ({{e:echo $copyright_desc[$copyright]}})
    </li>
    <li><span class="lbl">タイプ:</span> {{ $nakotype }}</li>
    <li><span class="lbl">タグ:</span> {{ $tag_link | raw }}</li>
    <li><span class="lbl">利用バージョン:</span> {{ $version }}</li>
    <li>
      <span class="lbl">投稿日時:</span> {{ $ctime | datetime }}
      {{ if $ctime != $mtime }}
        (編集: {{$mtime | datetime}})
      {{ endif }}
    </li>
    {{if $is_private == 0}}
    <li><span class="private">公開の投稿</span></li>
    {{endif}}
    {{if $is_private == 1}}
    <li><span class="private">🔒 非公開の投稿</span></li>
    {{endif}}
    {{if $is_private == 2}}
    <li><span class="private">🔐 限定公開の投稿</span></li>
    {{endif}}
  </ul>

  <!-- .fav_block-->
  {{ if $is_private == 0 }}
  <div class="fav_block" style="border:1px dotted silver;">
    {{if n3s_is_login()}}
    <button id="fav_button" class="pure-button"
      data-bookmark="{{if $bookmark}}1{{else}}0{{endif}}">
      🌟 {{if $bookmark}}解除{{else}}気に入った{{endif}}
    </button>
    {{else}}
    {{endif}}
    <a name="fav">&nbsp;</a>
    <span>
      <a style="text-decoration:none;" 
        href="index.php?action=fav&page={{$app_id}}&m=who">
        <span id="fav">{{ $fav | star }}</span>
      </a>
      {{ if !n3s_is_login() }}
        &nbsp; &nbsp; &nbsp; &nbsp;
        <span style="font-size:0.8em; color:#999;">
        {{e: $backurl = urlencode("index.php?action=show&page={$app_id}#fav"); }}
        <a href="index.php?action=login&back={{ $backurl }}">
          ログイン</a>して★を付けよう！</span>
      {{ endif }}
  </div>
  <div class="fav_block">
    <!-- twwiter button -->
    {{if isset($screen_name) && $screen_name != '' }}
    <a class="pure-button" href="https://twitter.com/share?url={{$n3s_baseurl}}/id.php?{{$app_id}}&text=@{{$screen_name}}%20{{$title}}%20#なでしこさん">Twitterへ投稿</a>
    {{endif}}
  </div>
  {{ endif }}
  <!-- /.fav_block-->
</div><!-- /.showblock-->

<!-- 編集ボタン(ログインしてなくても編集することはある) -->
<div class="ctrl_block">
  <a href="index.php?action=edit&page={{$app_id}}" class="pure-button">📝作品を編集</a>
</div>

<!-- URLを表示 -->
<div class="ctrl_block">
  <h1>作品公開情報</h1>

  {{ if $is_private == 1 }}
  <div class="blogparts">
    <span>🔒非公開の作品です。</span>
  </div>
  {{ endif }}

  {{ if $is_private != 1 }}
  <div class="blogparts">
    <span class="memo">📍この作品のURL: </span><br>
    <input class="info_link" type="text" onclick="this.select()"
      value="{{$n3s_baseurl}}/id.php?{{$app_id}}"><br>
      {{ if $app_name }}
      <input class="info_link" type="text" onclick="this.select()"
      value="{{$n3s_baseurl}}/show/{{$app_name}}"><br>
      {{ endif }}
  </div>
  <div class="blogparts">
    <!-- url-->
    <span class="memo">📍アプリ(即時実行)のURL: </span><br>
    <input class="info_link" type="text" onclick="this.select()"
      value="{{ $widget_url_run }}"><br>
    <!-- url-->
    <span class="memo">📍アプリ(実行ボタンあり)のURL: </span><br>
    <input class="info_link" type="text" onclick="this.select()"
      value="{{ $widget_url }}"><br>
    <!-- url-->
    <span class="memo">📍ブログパーツ: </span><br>
    <input class="info_link" type="text" onclick="this.select()"
      value="{{ $widget_tag }}"><br>
    <!-- 説明 -->
    <p class="memo" style="text-align: right;">上記HTML↑をブログに貼り付けることでアプリを埋め込めます。</p>
  </div>
  {{ endif }}

  {{ if $is_private == 0 }}
  <div class="blogparts">
    <span class="memo">📍ライブラリ直リンク - 『!「***」を取込』で使うとき: </span><br>
    <input class="info_link" type="text" onclick="this.select()"
      value="{{$n3s_baseurl}}/plain/{{ $app_name_or_id }}{{ $ext }}"><br>
    <input class="info_link" type="text" onclick="this.select()"
      value="{{$n3s_baseurl}}/index.php?action=plain&page={{$app_id}}"><br>
  </div>
  {{ endif }}

</div><!-- /ctrl_block --><!-- /URL -->

<div class="ctrl_block" style="text-align:right;">
  <div class="memo">
    通報数:<span id="bad">{{$bad}}</span>
  </div>
  <div class="memo">
    <a href="{{$badlink}}">通報って何？</a>
  </div>
{{if $app_id gt 0 && n3s_is_login()}}
  <br>
  <div>
    <button id="bad_button" class="pure-button">通報する</button>
  </div>
{{endif}}
  <div>&nbsp;</div>
</div>

<!-- script for ace editor -->
{{ $import_editor | raw }}
<!-- script for nadesiko3 -->
{{ $import_nako | raw }}

<!-- script for nako3storage-->
<script>
// nako3storage_show.js から参照する変数
var setValue = function() { alert("現在ライブラリを読み込み中です。しばらくお待ちください。") }
var getValue = function() { alert("現在ライブラリを読み込み中です。しばらくお待ちください。"); return "" }
var editorObjects = null
var msie = {{e:echo ($msie)?'true':'false'}};

// nako3storage info
const baseurl = "{{ $baseurl | safe }}";

// nako3 program info
const app_id = {{ $app_id }};
const nako_version = "{{ $version }}" + ".0.0.0"
const runbox_c = document.getElementById('runbox')
runbox_c.style.display = 'none'

// iframe の高さを調整
window.addEventListener('message', function(e) {
  var iframe = document.querySelector("#iframe_contents")
  var eventName = e.data[0]
  var data = e.data[1]
  switch(eventName) {
  case 'setFrameHeight':
    iframe.style.height = data + 'px'
    break;
  }
}, false)

</script>
<script defer src="{{e:echo n3s_getURL('nako3storage_edit.js', 'file', ['m'=>$mtime_nako3storage_edit]);}}"></script>
<script defer src="{{e:echo n3s_getURL('nako3storage_show.js', 'file', ['m'=>$mtime_nako3storage_show]);}}"></script>

{{ include parts_html_footer.html }}
