{{ include parts_html_header.html }}


<style>
  input[type=radio] {
    width:2em;
  }
</style>
<div class="saveform">
  <p>画像/音声/テキストのアップロード:</p>
  <div>
    <form enctype="multipart/form-data"
      action="{{$baseurl}}/index.php?action=upload&mode=go"
      method="POST" class="pure-form"
      onsubmit="return checkForm();">
      <!-- MAX_FILE_SIZE は、必ず "file" input フィールドより前に。3MBを指定。 -->
      <input type="hidden" name="MAX_FILE_SIZE" value="3145728" />
      <div style="padding:6px">
        <input id="userfile" name="userfile" type="file" class="pure-button" />
      </div>
      <div>
        <label>
          タイトル:<br>
          <input type="text" name="title">
        </label><br>
        <label>
          著作権の確認:<br>
          <input type="checkbox" name="copyright" id="copyright" value="ok">
            このファイルは著作権的に問題のないファイルです。そして、<a href="index.php?action=kiyaku" target="new">利用規約</a>に同意します。
        </label><br>
        <label>
          著作権の種類:<br>
          <input type="radio" name="copyright_type" value="CC0" checked="checked">
          パブリックドメイン(CC0)
          <a target="new" href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja">(説明)</a>
        </label><br>
        <label>
          <input type="radio" name="copyright_type" value="CC-BY">CC BY(著作権表示すれば誰でも使えます)
          <a target="new" href="https://creativecommons.org/licenses/by/4.0/deed.ja">(説明)</a>
        </label><br>
        <label>
          <input type="radio" name="copyright_type" value="SELF">
          自分専用 (他人の使用を認めません)
          <span class="info">(※ただし素材はWebに公開されます。)</span>
        </label><br>
      </div>
      <div style="padding:6px;">
        <input type="hidden" name="edit_token" value="{{$edit_token}}" />
        <input type="submit" value="ファイルを送信" class="pure-button-primary pure-button" />
      </div>
    </form>
  </div>
</div>
<div class="showblock" style="border-top:1px dotted silver;">
  <a class="pure-button" 
    href="index.php?action=upload&mode=list">素材の一覧を見る</a>
</div>

<script>
  function checkForm() {
    const MAX_FILE_SIZE = 1024 * 1024 * 3
    const userfile = document.getElementById('userfile')
    if (!userfile.files || userfile.files.length == 0) {
      alert('ファイルを指定してください')
      return false
    }
    const file = userfile.files[0]
    // 拡張子のチェック
    const fname = file.name.toLowerCase()
    if (!fname.match(/\.(jpg|jpeg|png|gif|svg|mml|mp3|ogg|csv|tsv|json|txt|mid)$/)) {
      alert('アップロードできるのは、JPEG/PNG/GIF/MP3/OGG/CSV/TSV/JSON/TXT/MIDのみです。')
      return false
    }
    // ファイルサイズのチェック
    if (file.size > MAX_FILE_SIZE) {
      alert('ファイルサイズが大きすぎます。リサイズして小さくしてください。')
      return false
    }
    // 著作権のチェック
    const copyright = document.getElementById('copyright')
    if (!copyright.checked) {
      alert('著作権と利用規約の同意の欄にチェックを入れてください。')
      return false
    }
    return true
 }
</script>


{{ include parts_html_footer.html }}
