{{ include parts_html_header.html }}

<style>
.upload-item {
  padding-left: 1em;
}
.upload-item tr {
  height: 2em;
}
.upload-item th {
  text-align: right;
  border-bottom: 1px solid silver;
}
.upload-item td {
  padding-left: 1em;
  text-align: left;
  border-bottom: 1px solid silver;
}
.upload-item-image {
  padding: 1em;
}
</style>

<div class="saveform">
  <h1>{{$msg}} ({{ $image_id }})</h1>
  <p>以下のURLをコピーしてプログラムでご利用ください。</p>
  <div class="upload-item">
    <table>
      <tr>
        <th>絶対URL</th>
        <td><input type="text" onclick="this.select()" value="{{$image_url}}"></td>
      </td>
      <tr>
        <th>提供者</th>
        <td>
          <a target="new" href="{{$link_user}}">{{$user.name}}</a></td>
      </td>
      <tr>
        <th>ライセンス</th>
        <td>{{ $copyright }}</td>
      </td>
      <tr>
        <th>タイトル</th>
        <td>{{ $title }}</td>
      </td>
    </table>
  </div>
  <div class="upload-item-image">
    <a href="{{$image_url}}">
      {{ if (preg_match('/\.(jpg|jpeg|png|gif)$/', $image_url)) }}
        <img src="{{$image_url}}" width="400">
      {{ else }}
        {{$image_url}}
      {{ endif }}
    </a>
  </div>
</div>

{{ if n3s_is_login() && $can_edit }}
<div class="saveform">
  <h1>ファイルの管理</h1>
  <div style="border:1px dotted silver;">
    <form action="index.php?action=upload&mode=delete" method="POST">
      <input type="hidden" name="image_id" value={{$image_id}} />
      <input type="hidden" name="acc_token" value={{$acc_token}} />
      <label id="really">
        本当にファイル削除しますか？:<br>
        <input id="really" type="checkbox" name="really" value="delete"> 削除する
      </label><br>
      <input type="submit" value="ファイルを削除" class="pure-button">
    </form>
  </div>
</div>
{{ endif }}

<div class="saveform">
  <a href="index.php?action=upload" class="pure-button">ファイルをアップロード</a>
</div>
<div class="saveform">
  <a href="index.php?action=upload&mode=list" class="pure-button">素材の一覧を見る</a>
</div>

{{ include parts_html_footer.html }}
