{{ include parts_html_header.html }}

{{ if $images }}
<div class="showblock">
  <h1>素材の一覧</h1>
  <p>他人の素材を利用する際はライセンスに注意してください。</p>
  <ul>
    {{ for $images as $i }}
    <li>
      <a href="{{$i.info_url}}">『{{$i.title}}』({{$i.filename}}) : {{$i.copyright_name}}<br>
      {{ if $i['is_image'] }}
        <img src="{{$i.image_url}}" width="200">
      {{ else }}
        <img src="img/sozai.png" width="200">
      {{ endif }}
      </a>
    </li>
    {{ endfor }}
  </ul>
</div>

<div class="showblock">
  <a href="{{$next_url}}" class="pure-button">次へ</a>
</div>
{{ else }}
<div class="showblock">
  <h1>画像はまだアップロードされていません。</h1>
</div>
{{ endif }}

{{ if n3s_is_login() }}
<div class="showblock" style="border-top: 1px dotted silver;">
  <a href="index.php?action=upload" class="pure-button">アップロード</a>
</div>
{{ endif }}


{{ include parts_html_footer.html }}
