<!DOCTYPE html>
<html>
  <head>
    <title>{{$title | check_mudai}} by {{$author | check_nanasi}} - なでしこv{{ $version }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="skin/def/pure-min.css">
    <style>
        #iframe_contents {
            margin: 0px;
            padding: 0px;
            border: none;
            width: 100vw;
            height: 100vh;
        }
    </style>
  </head>
  <body>
    <iframe id="iframe_contents" src="{{ $iframe_url }}" sandbox="{{ $sandbox_params }}"></iframe>
  </body>
</html>

