<!DOCTYPE html>
<html>
  <head>
    <title>{{$title | check_mudai}} by {{$author | check_nanasi}} - なでしこv{{ $version }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="skin/def/pure-min.css">
    <style>
        #iframe_contents {
            margin: 0px;
            padding: 0px;
            border: 0px none;
            width: 100%;
            height: 400px;
        }
    </style>
    </head>
    <body>
        <iframe id="iframe_contents" src="{{ $iframe_url }}" sandbox="{{$sandbox_params}}"></iframe>
        <script>
        // iframe の高さを調整
        window.addEventListener('message', function(e) {
            var iframe = document.querySelector("#iframe_contents")
            var eventName = e.data[0]
            var data = e.data[1]
            switch(eventName) {
            case 'setFrameHeight':
                iframe.style.height = data + 'px'
                break;
            }
        }, false)
        </script>
    </body>
</html>
