/* n3s.css */

#n3s_header {
  margin: 0;
  padding: 4px;
  background-color: white;
  font-size: 0.8em;
  border: 1px dotted gray;
}

#n3s_header h1.title {
  margin: 0;
  font-size: 1.2em;
  padding: 1em;
  background-color: #fff0f0;
}
#n3s_header .search_box {
  padding-left: 1em;
}

.header-right {
  text-align: right;
  padding: 0.5em;
}

h1 {
  padding: 0.3em;
  font-size: 1em;
  border-left: 1em solid #ffc0c0;
}

.list {
  padding: 1em;
}
.list table {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
}
.list table td {
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 0.9em;
}
.list table th {
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: #f0f0f0;
  padding: 0.9em;
}

.saveform {
  padding:1em;
}

.saveform label {
  color: #707090;
  font-size: 0.8em;
}

.saveform input {
  width: 300px;
  margin: 8px;
}
.saveform input[type=checkbox] {
  width: 2em;
}

.saveform textarea {
  width: 300px;
  height: 150px;
  margin: 8px;
}

.showblock {
  padding: 1em;
}
.showblock .memo {
  color: gray;
  font-size: 0.8em;
}
.showblock label {
  color: gray;
  font-size: 0.8em;
}
.showblock textarea {
  width: 300px;
  height: 150px;
  background-color: #f0f0f0;
}

.ctrl_block {
  border-top: 1px dotted gray;
  padding: 1em;
}

.showinfo {
  font-size: 0.8em;
  color: gray;
}

.error {
  color: red;
}

.info {
  color: gray;
  font-size: 0.8em;
}

#runbox {
  padding: 1em;
}

.nako3info {
  border: 1px solid silver;
  background-color: #f0f0f0;
  margin: 4px;
  padding: 8px;
}

#nako3_canvas {
  width: 300px;
  height: 300px;
}

.next_button_div {
  padding: 1em;
}

#n3s_footer {
  border-top: 1px dotted gray;
  padding: 1em;
}
#n3s_footer .applink {
  text-align: center;
  font-size: 0.8em;
}