/* nako3storage - basic.css */

#n3s_header {
  margin: 0;
  padding: 4px;
  background-color: white;
  font-size: 0.8em;
  border-bottom: 1px dotted gray;
}

#n3s_header h1.title {
  margin: 0;
  font-size: 1.2em;
  padding: 1em;
  background-color: #fff0f0;
}

#n3s_header h1.title a {
  text-decoration: none;
  color: black;
}

#n3s_header .search_box {
  padding-left: 1em;
}

#n3s_footer {
  border-top: 1px dotted gray;
  padding: 4px;
  font-size: 0.8em;
}

#n3s_footer .applink {
  padding: 12px;
  text-align: center;
  font-size: 0.8em;
}
.header-right {
  text-align: right;
  padding: 0.5em;
  line-height: 3;
}

h1 {
  padding: 0.3em;
  font-size: 1em;
  border-left: 1em solid #ffc0c0;
}
h2 {
  padding: 0.3em;
  font-size: 1em;
}

.list {
  padding: 1em;
}
.list table {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
}
.list table td {
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 0.5em;
}
.list table th {
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: #f0f0f0;
  padding: 0.5em;
}
.list .date {
  font-size: 0.7em;
  color: silver;
}
.list .dev {
  font-size: 0.7em;
  color: gray;
}
.list .dev a {
  font-size: 0.9em;
  color: #444499;
  text-decoration: none;
  background-color: #ffff99;
}
.list .postmemo {
  font-size: 0.9em;
  color: #555555;
}

.saveform {
  padding: 1em;
}

.saveform label {
  color: black;
  font-size: 1em;
}

.saveform input {
  width: 20em;
  margin: 8px;
}
.saveform input[type="checkbox"] {
  width: 2em;
}

.saveform textarea {
  width: 95%;
  height: 150px;
  margin: 8px;
  padding: 8px;
  background-color: #f9f0f0;
}

.showblock {
  padding: 1em;
}
.showblock .memo {
  color: gray;
  font-size: 0.8em;
}
.showblock label {
  color: gray;
  font-size: 0.8em;
}
.showblock textarea {
  width: 300px;
  height: 150px;
  background-color: #f0f0f0;
}

.showblock ul li {
  line-height: 1.8;
}
.showblock table td {
  line-height: 1.5;
  font-size: 1em;
  padding: 4px;
  border-bottom: 1px solid silver;
}
.showblock tr:nth-child(2n+1) {
  background-color: #f0f0ff;
}

.linkblock {
  border-bottom: 1px dotted silver;
  padding: 1em;
  margin: 0;
  font-size: 0.8em;
  background-color: #fff0ff;
}

.favblock {
  background-color: #fff0f0;
  font-size: 0.8em;
  padding: 1em;
  line-height: 1.4;
}

.ctrl_block {
  border-top: 1px dotted gray;
  padding: 1em;
}

.showinfo {
  font-size: 0.8em;
  color: gray;
}

.error {
  color: red;
}

.info {
  color: gray;
  font-size: 0.8em;
}

#runbox {
  padding: 1em;
}

#nako3_output {
  border: 1px solid silver;
  height: 3em;
  max-height: 10em;
  resize: vertical;
  box-sizing: content-box;
  background-color: #f0f0f04b;
  margin: 4px;
  padding: 4px 4px 16px 16px;
  overflow-y: auto;
}

.nako3info {
  border: 1px solid silver;
  background-color: #f9f5f0;
  margin: 4px;
  padding: 8px;
}

#nako3_info {
  max-height: 10em;
  overflow-y: auto;
  resize: vertical;
  box-sizing: content-box;
}

#nako3_canvas {
  margin: 4px;
  border: 1px dotted silver;
}

.next_button_div {
  padding: 1em;
}

.nako3_div {
  font-size: 1em;
  line-height: 1.1;
}
.nako3_div > button {
  margin: 4px;
  padding: 4px;
  font-size: 0.9em;
}
.nako3_div input[type="checkbox"] {
  padding: 4px;
  margin: 4px;
}

:where(#nako3_div table) {
  border-left: 1px solid silver;
  border-top: 1px solid silver;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
}

:where(#nako3_div th,#nako3_div td) {
  margin: 0px;
  padding: 0.4em;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: initial;
}

.fav_block {
  padding: 1em;
}

.fav_block #fav {
  font-size: 1em;
  color: #ffb0b0;
}

.memo {
  color: gray;
  font-size: 0.8em;
}

.addon_block {
  padding: 1em;
  font-size: 0.8em;
  line-height: 1.8;
}

.devblock {
  color: gray;
  padding: 2em;
  margin: 1em;
  font-size: 0.8em;
}

.devblock a {
  text-decoration: none;
}

/* ace editor の場合 */
div#nako3code {
  width: 99%;
  height: 450px;
}

/* 古いバージョンのなでしこを使う場合 */
textarea#nako3code {
  margin: 0;
  padding: 0.5em;
  font-size: 1.2em;
  line-height: 1.4;
  width: 99%;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid silver;
}

#nako3_error {
  color: red;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid silver;
  background-color: #fff0f0;
}

.info_box {
  padding: 1em;
  font-size: 0.8em;
  color: black;
  background-color: #ffe0e0;
  line-height: 1.7;
}

.crown {
  color: #ffb0b0;
}

.blogparts {
  line-height: 1.5;
  margin: 1em;
  border: 1px dotted #e0e0e0;
  padding: 1em;
  background-color: #f0f0f0;
}

.blogparts input {
  background-color: #e0e0e0;
  padding: 8px;
  margin: 4px;
  margin-left: 1em;
  width: 95%;
}

.info_link {
  background-color: white;
  color: gray;
  font-size: 0.8em;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e0e0e0;
}

.setumei {
  padding: 4px;
}

.setumei a {
  background-color: #ffffaa;
  color: black;
  text-decoration: none;
}

.list_user_profile a {
  background-color: #ffffaa;
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted silver;
}

.search_list ul {
  list-style: none;
  padding: 1em;
  margin: 0;
}
.search_list ul > li {
  line-height: 1.8;
  padding-bottom: 1em;
}
.search_title a {
  font-size: 1.1em;
  color: blue;
  text-decoration: none;
  font-weight: bolder;
}
.search_info {
  padding-left: 1em;
}
.search_info a {
  font-size: 0.9em;
  color: blue;
  text-decoration: none;
  font-weight: bolder;
}
.search_code {
  background-color: #fff0f0;
}
#controll_buttons {
  line-height: 2.0;
  border-top: 1px dotted silver;
  padding-top: 8px;
}

.public {
  color: green;
}
.private {
  color: red;
}

ul.devblock {
  background-color: #f0f0f0;
  padding: 1em;
  list-style: none;
}
ul.devblock li {
  padding-left: 1em;
  border-bottom: 1px dotted #e0e0e0;
  color: #404040;
}
ul.devblock span.lbl {
  color: #808080;
}
#tempInfoLabel {
  font-size: 0.8em;
  padding: 0.5em;
  color: gray;
}
.iframe_memo {
  padding: 8px;
  text-align: right;
  font-size: 0.9em;
}

.mypage_box {
  border: 1px solid silver;
  padding: 1em;
  margin: 1em;
}